<%- include("header.ejs") %>
    <div class="container mt-5">
        <div class="row">
            <% books.forEach( (book) => { %>
                <a href="http://localhost:3000/book/%- book._id %>" class="col-md-3 mb-3">
                    <div class="card">
                        <div class="image-container">
                            <div class="first">
                            </div>
                            <img src="upload/<%- book.ImageUrl %>" class="img-fluid rounded thumbnail-image">
                        </div>
                        <div class="product-detail-container p-2">
                            <div class="d-flex justify-content-between align-items-center flex-column">
                                <h5 class="dress-name">Tên: <%- book.title %></h5>
                                <h5 class="dress-name">Tác giả: <%- book.author %></h5>
                                <h5 class="dress-name">Số trang: <%- book.pageCount %></h5>
                                <h5 class="dress-name">Ngày tạo: <%- book.publishDate %></h5>
                            </div>
                        </div>
                    </div>
                </a>
            <% })  %>
        </div>
    </div>
<%- include("footer.ejs") %>